<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h3>Registration</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            <form action="/register" method="post">
                <div>
                    <div class="form-group col-md-5">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" name="fname" id="fname">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" name="lname">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control"  name="email" id="email">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="cpwd">Confirm Password</label>
                        <input type="password" class="form-control" name="cpwd" id="cpwd">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>